{% extends "base.html" %}
{% block title %}Update{% endblock %}
{% block body %}

<h2 class="mb-4">Update Todo</h2>
<form method="POST">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" class="form-control" name="title" value="{{ todo.title }}" required>
  </div>
  <div class="mb-3">
    <label for="desc" class="form-label">Description</label>
    <input type="text" class="form-control" name="desc" value="{{ todo.desc }}" required>
  </div>
  <button type="submit" class="btn btn-primary">Update</button>
</form>

<p class="mt-3"><a href="{{ url_for('hello') }}">Back to Home</a></p>

{% endblock %}
